#header
  h1.text-center= "UPLOAD A PIC THAT REMINDS YOU OF #{@category.upcase} ON"
  h2.text-center= "www.flash-forward.herokuapp.com"

#sidebar.text-center
  h2 FUN FACTS
  - @explanations.each do |explanation|
      h3= explanation.text
      .text-center= image_tag explanation.picture.url(:medium) if explanation.picture_file_name
      = "slide = #{@selected_slide}"
#slider data-actual-slide="#{@selected_slide}"
  .swiper-container
    .swiper-wrapper
      - @contents.each do |content|
        .swiper-slide
           .content
              = image_tag content.picture.url

           - if content.comment != ""
              #comment
                 p= content.comment
  .swiper-button-prev
    i.fa.fa-arrow-left
  .swiper-button-next
    i.fa.fa-arrow-right
= link_to( display_path, category: @category, )

javascript:
  var actualSlide = $('#slider').attr("data-actual-slide")
  var mySwiper = new Swiper('.swiper-container', {
    speed: 100,
    spaceBetween: 0,
    autoplay: 10000,
    centeredSlides: true,
    touchEventsTarget: "container",
    initialSlide: actualSlide,
    loop: true
  });
  var actualSlide =
  setInterval(function(){
    // var actualSlide = $('#slider').attr("data-actual-slide", mySwiper.activeIndex )
    var initialPage = location.pathname;
    console.log( mySwiper.activeIndex - 1 )
    if( !isNaN(mySwiper.activeIndex) ){
      addOrUpdateUrlParam("actual_slide", mySwiper.activeIndex - 1)
    }
  }, 10000);
  console.log(actualSlide);

  function addOrUpdateUrlParam(name, value){
    var href = window.location.href;
    var regex = new RegExp("[&\\?]" + name + "=");
    if(regex.test(href))
    {
      regex = new RegExp("([&\\?])" + name + "=\\d+");
      window.location.href = href.replace(regex, "$1" + name + "=" + value);
    }
    else
    {
      if(href.indexOf("?") > -1)
        window.location.href = href + "&" + name + "=" + value;
      else
        window.location.href = href + "?" + name + "=" + value;
    }
  }
