@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "font-awesome";
@import "fonts";
@import "variables";
@import "swiper";

html{
  font-family: "AvenirNextLTPro"
}

.main{
  font-family: $secondary-font;
  padding-top: 5em;
}

.navbar-header{
  i{
    color: white;
    margin-top: 10px;
    &:hover{
      color: lightgrey;
    }
  }
}

h1{
  font-family: $secondary-font;
  font-weight: bold;
}

h2{
  font-family: $secondary-font;
}

h3{
  font-family: $secondary-font;
}

.navbar-right{
  margin-right: 20px;
}

.logo{
  color:lightgrey;
  span:hover{
    color: white;
  }
  img{
    margin-top: -10px;
    width: 40px;
    height: 40px;
  }
}

.navbar{
  background-color: $main-color !important;
  font-family: $main-font;
  font-weight: bold;
  font-size: 1.1em;

  strong{
    color:white;
  }
}


#comment{
  color:black;
  font-size: 40px;
  position: absolute;
  height: 100px;
  bottom: 10%;
  background-color: rgba(255,255,255, 0.7);
  padding: 20px;
  border-radius: 35%;
  margin-left: 20px;
}

.btn{
  &-bluesquare{
    color:white !important;
      background-color: $main-color !important;
  }
  &-info{
      background-color: $secondary-color !important;
  }
}

.panel{
  &-bluesquare{
    .panel-heading{
      background-color: $main-color;
    }
  }

  &-default{
    .panel-heading{
      background-color: white;
    }
  }

  &-info{
    .panel-heading{
      background-color: $secondary-color;
    }
  }
}
.swiper-slide{
  img{
    height: 100%;
    display:block;
    margin:auto;
  }
}

html, body, .swiper-slide, .swiper-container, .content{
  height: 100%;
}

#display{
  color: white;
  background-color: $main-color;
  height: 100%;
  h1{
    margin-top: 0px;
    padding-top: 30px;
  }
}

#header{
}

#sidebar{
  width: 25%;
  height: 100%;
  float: right;
}

#slider{
  width: 75%;
  background-color: black;
  height: 100%;
}
